body {
  background-color: dodgerblue;
  color: white;
  text-align: center;
}

h1 {
  font-size: 40px;
}

div {
  margin: 30px;
}

.redirect {
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: blueviolet;
}

.mail {
  color: white;
}
